


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#welcome{
    text-align: justify;
    padding: auto;
    color: hwb(0 5% 5%);

}
section {
    padding: 60px 20px;
    margin-top: 50px;
}

#home {
    background: #f4f4f4;
    text-align: center;
}

#home img {
    max-width:fit-content;
    height: 1280px;
}

#services, #about, #contact {
    background: #e2e2e2;
    margin-top: 20px;
}

section h2 {
    margin-top: 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}